<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/style.css">
  </head>
  
<body>

<h1>Purchase prediction</h1>
<p></p>
<form action="/prediction" method="post">
    <label for="gender">Enter the Gender:</label><br>
    <input type="number" id="gender" name="gender"><br>
    <label for="age">Enter age:</label><br>
    <input type="number" id="age" name="age"><br><br>
    <label for="salay">Enter salary:</label><br>
    <input type="number" id="salary" name="salary"><br><br>

    <button type="submit">predict </button>
  </form>
   {% if (pred_res)==0 : %}
   <h2> Will not purchase the product</h2>
   {% elif (pred_res)==1 : %}
   <h2> Will purchase the product</h2>
   {% endif %}

</body>
</html>